#root {
  width: 100%;
  min-height: 100%;
}

html, body {
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: #6FCF97;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}